.title {
  font-size: 36px;
}

.btn {
  margin-top: 20px;
  background-color: #f300b4;
  border: 2px solid #f300b4;
  color: #ffffff;
  font-size: 24px;
  padding: 5px 10px;
  outline: none;
}

.btn:hover {
  border: 2px solid #f300b4;
  color: #f300b4;
  background: transparent;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
